@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --primary-color: #38618C;
    --secondary-color: #E06D06;
    --accent1-color: #35A7FF;
    --accent2-color: #FFC06F;
  
    --heading-font: 'open sans', sans-serif;
    --paragraph-font: 'open sans', sans-serif;
  
    --nav-background-color: #38618C;
    --nav-link-color: white;
    --nav-hover-link-color: #FFC06F;
    --nav-hover-background-color: #38618C;
  }
 header {
  height: 100px;
  display: grid;
  align-items: center ;
	grid-template-columns: 2fr 2fr;
	border-bottom: 1px solid #bebebe;
	max-width: 900px;
 }

header a {
   background-color: white;
    text-decoration: none;
  }

header img {
  width: 20%;
  height: auto;
  padding-left: 80px;

}


header nav {
  display: flex;
  justify-content: space-evenly;
  align-items:center;
}

.split p, .home-details p{
    padding: 25px;
}


h2, h3, h4, h5, h6, .form-p,.hero h1{
    text-align: center;
  }

  h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }
  
  .contact-details h2, .contact-details p, .home-details h2{
    text-align: left;
    padding: 10px;
  }

  .home-details h2{
    text-align: left;
    padding: 0 0 0 25px;
  }

.contact-details, .split, .home-details {
  display: grid;
  grid-template-columns: 2fr 2fr; 
  padding: 0 100px 0 100px;
}

.contact-details{
  margin: 250px 0 100px 0;
}

.home-details {
  padding: 100px;
}

iframe { 
max-width: 500px;
height: 300px;
}

.hero h1 {
    position: absolute;
    margin-top: -650px;
    padding-top: 20px;
    color: rgb(255, 255, 255);
    background-color:  rgba(36, 45, 46, 0.603);
    width: 100%;
    height: 60px;
  }

  .contact-heading {
  position: relative;
  margin-top: -200px;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
}

  article {
    position: absolute;
    background-color: rgba(36, 45, 46, 0.603);
    color: rgb(255, 255, 255);
    margin-top: -500px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px; 
    padding-top: 15px; 
  }

  article img {
    float: right;
    max-width: 12%;
  }

  body {
    font-family: var(--paragraph-font);
    width: 100%;
  }

.hero img, .hero-home img {
    position: relative;
    width: 100%;
    display: block;
    height: auto;   
 }

 .hero-home, .hero{
  text-align: center;
 }

 .hero-home h1{
  position: absolute;
  margin-top: -400px;
  padding-top: 20px;
  color: rgb(255, 255, 255);
  background-color:  rgba(36, 45, 46, 0.295);
  width: 100%;
  height: 200px;
 }

 .intro-home a {
  text-decoration: none;
  color: #E06D06;
 }

 .hero-home a{
 display: block;
 position: relative;
 margin-top: -270px;
 }

 .pics{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  padding: 0 10px 20px 0;
 }

 .team{
  margin: 100px 0 100px 0;
 }

 footer{
  background-color:  rgb(201, 201, 201);
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 80px;
 }

 .sociallinks a {
  text-decoration: none;
  padding-left: 10px;
 }

 figure {
  padding: 4px;
  margin: auto;
}

figcaption {
  background-color: rgb(214, 214, 214);
  color: rgb(0, 0, 0);
  padding: 5px;
  margin-top: -5px;
  text-align: center;
}


 form {
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #d6e3eb;
  padding: 20px;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  
}

.fig {
  padding-right: 30px;
  padding-top: 20px;
  font-size: 15px;
  background-color: #00000000;
}

 fieldset{
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1.3rem;
  /* display: grid;
  */ 
} 

.custom-label {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom:  0.5rem;
  font-size: 14px;
}

#fullname, #useremail, #feedback{
  padding: 0.5rem;
  width: 400px;
}

.suscribe{
  font-size: 12px;
}


button {
  margin: 20px;
  width: 130px;
  background-color: #38618C;
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .7rem;
  font-size: 1rem;
}

.intro{
  margin-top: 250px;
  padding-left: 100px;
  padding-right: 100px;
}

.intro-home {
  /* position: absolute; */
  margin-top: 280px;
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
  padding-bottom: 80px;
 
}

button:hover, .btn:hover {
  background-color: rgb(28, 35, 59);
}

.box, .box-center{
  display: flex;
  width: 800px;
  margin: 50px auto;
  border: 1px solid rgba(0, 0, 0, 0.637);
  padding: 20px 20px 20px 20px;
  background-color: #c7dcff;;
  color: #000000;
  
}

.box-center {
  text-align: center;
}


.btn{
    background-color: #38618C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: .5rem;
    text-decoration: none;
    /* text-align: center; */
    max-width: 150px;
}



table, th, td {
    border: 1px solid #c0c0c0;
    border-collapse: collapse;
    padding: auto;
    width: 500px;
    height: 15px;
    text-align: center;
    /* display: flex; */
  
}

th {
background-color:#c0c0c0;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}

/* .newsletter{
  
} */