@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --primary-color: #38618C;
    --secondary-color: #E06D06;
    --accent1-color: #35A7FF;
    --accent2-color: #FFC06F;
  
    --heading-font: 'open sans', sans-serif;
    --paragraph-font: 'open sans', sans-serif;
  
    --nav-background-color: #38618C;
    --nav-link-color: white;
    --nav-hover-link-color: #FFC06F;
    --nav-hover-background-color: #38618C;
  }
 header {
  height: 230px;
 }


header a {
    padding: 20px;
    background-color: white;
    text-decoration: none;
  }

header img {
  width: 15%;
  height: auto;
}

p {
    padding-top: 20px;
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }



.hero h1 {
    position: absolute;
    margin-top: -650px;
    padding-left: 500px;;
    padding-top: 20px;
    color: white;
    background-color:  rgba(13, 144, 161, 0.384);
    width: 63%;
    height: 60px;
  }

  article {
    position: absolute;
    background-color: rgba(22, 22, 76, 0.34);
    color: rgb(255, 255, 255);
    margin-top: -500px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px; 
    padding-top: 15px; 
  }

  article img {
    float: right;
    max-width: 12%;
  }

  body {
    font-family: var(--paragraph-font);
    width: 100%;
  }

.hero img {
    position: relative;
    width: 100%;
    display: block;
    height: auto;   
 }

 .sociallinks a {
    text-decoration: none;
  
 }

