@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --primary-color: #38618C;
    --secondary-color: #E06D06;
    --accent1-color: #35A7FF;
    --accent2-color: #FFC06F;
  
    --heading-font: 'open sans', sans-serif;
    --paragraph-font: 'open sans', sans-serif;
  
    --nav-background-color: #38618C;
    --nav-link-color: white;
    --nav-hover-link-color: #FFC06F;
    --nav-hover-background-color: #38618C;
  }

  body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

  header {
    padding: 20px;
    background-color: var(--accent2-color);
  }

p {
    padding-top: 20px;
}

ul {
    padding-left: 40px;   
}

li {
    padding-bottom: 10px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }