@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box; }

    body {
        background: #fff;
        color: #333;
        font-family: open sans-serif, Georgia, serif;
        font-size: 15px;
      }

      header {
          padding: 20px;
          /* width: 600px; */
       }
    
    h1 {
        color: #38618C;
        font-size: 20px;
        text-align: center;
    }

    form {
        width: 550px;
        display: grid;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        background-color: #d6e3eb;
        
      }

    fieldset{
        display: grid;
        gap: 0.8rem;
        margin: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 1rem;
    }

      footer {
        text-align: center;
        padding: 1.5rem;
      }

      legend {
        padding: 0.5rem;
        font-size: 18px;
        color: #2e639c;
      }

      label, input, button, select, textarea {
        font-family: Roboto, Arial, sans-serif;
      }

      label {
        text-align: left;
        padding-right: 5px;
        padding-bottom: 5px
      }

      input, select, textarea {
        padding: 0.5rem;
        font-size: 1rem;
      }

      input[type="checkbox"] {
        width: 20px;
        height: 20px;
        vertical-align: bottom;
      }

      button {
        margin: 20px;
        width: 120px;
        background-color: #38618C;
        color: #fff;
        border: none;
        border-radius: .5rem;
        display: flex;
        justify-self: center;
        padding: .7rem;
        font-size: 1.2rem;
      }
      
      button:hover {
        background-color: rgb(28, 35, 59);
      }

      footer {
        margin: 1.8rem auto 0;
        width: 650px;
        text-align: center;
        font-size: 1rem;
        color: #777;
        border-top: 1px solid #ccc;
      }

      .form-item {
        display: grid;
        align-items: center;
      }

      .column1 {
        grid-template-columns: 3fr 1fr;
        margin: 10px 0;
      }

      .column2 {
        grid-template-columns: 1fr 2fr;
      }











    