@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box; }

    body {
        background: #fff;
        color: #333;
        font-family: open sans-serif, Georgia, serif;
        font-size: 15px;
      }

      header {
          padding: 20px;
          /* width: 600px; */
       }
    
    h1 {
        color: #38618C;
        font-size: 20px;
        text-align: center;
    }

    form {
        width: 550px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        background-color: #d6e3eb;
        
      }

   fieldset{
        /* display: grid; */
        gap: 0.8rem;
        margin: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 1.8rem;
    }

        label, input, button, select, textarea {
        font-family: Roboto, Arial, sans-serif;
      }
  
      label {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;

      }
  
      input, select, textarea {
        padding: 0.5rem;
        font-size: 1rem;
      }

      input[type="number"] {
        width: auto;
        display: block;
      }

      img {
        padding-bottom: 10px;
      }

       button {
        margin: 20px;
        width: 120px;
        background-color: #38618C;
        color: #fff;
        border: none;
        border-radius: .5rem;
        display: flex;

        padding: .7rem;
        font-size: 1.1rem;
      }
      
    button:hover {
        background-color: rgb(28, 35, 59);
      }

      footer {
        margin: 1.8rem auto 0;
        width: 650px;
        text-align: center;
        font-size: 1rem;
        color: #777;
        padding: 1.5rem;
      }
