
nav {
  background-color: steelblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: steelblue;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 0;
  box-shadow: 0 0 30px gray;
}

p {
  padding: 10px;
}

main {
    max-width: 840px;
  }
  
aside {
width: 25em;  
margin: 20px;
border: 1px solid rgb(155, 224, 244);
padding: 20px;
background-color: rgb(35, 35, 35);
color: white;
  }

  aside img {
    width: 200px;
    height: auto;
  }

  footer {
    border-top: 1px solid rgb(116, 116, 116);
    margin: 20px;
    text-align: center;
  }