/* Creating a universal rule for margin*/
* {
 margin: 0; 
 padding: 0;
 box-sizing: border-box;
}

nav {
  background-color: steelblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: steelblue;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
}

p {
  padding: 0;
}

main {
    max-width: 840px;
  }
  
aside {
width: 25em;  
/*margin: 20px;
 border: 1px solid rgb(155, 224, 244);
padding: 20px;
background-color: rgb(35, 35, 35);
color: white; */
  }

  aside img {
    width: 200px;
    height: auto;
  }

  /* Adding absolute positioning for the 'aside' heading element*/

  aside h2 {
    position: absolute;
    left: 50px;
  
 
  }

  footer {
    border-top: 1px solid rgb(116, 116, 116);
    margin-top: 40px;
    text-align: center;
  }

  /* Class selectors */
  .box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #1c0101;
  }